<template name="importanceDropdown">
  <div class="dropdown col-md-2">
    <button class="btn btn-primary dropdown-toggle" type="button" id="importanceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span id="importance">Importance</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="importanceDropdown">
      <li><a href="#" class="importance-dropdown-option" id="low">Low</a></li>
      <li><a href="#" class="importance-dropdown-option" id="medium">Medium</a></li>
      <li><a href="#" class="importance-dropdown-option" id="high">High</a></li>
      <li><a href="#" class="importance-dropdown-option" id="all">All</a></li>
    </ul>
  </div>
</template>
