<template name="statusDropdown">
  <div class="dropdown col-md-2">
    <button class="btn btn-primary dropdown-toggle" type="button" id="statusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span id="status">
        Status
      </span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="statusDropdown">
      <li><a href="#" class="status-dropdown-option" id="pending">Pending</a></li>
      <li><a href="#" class="status-dropdown-option" id="assigned">Assigned</a></li>
      <li><a href="#" class="status-dropdown-option" id="completed">Completed</a></li>
      <li><a href="#" class="status-dropdown-option" id="all">All</a></li>
    </ul>
  </div>
</template>
