<template name="landingNav">
  <nav class="navbar navbar-inverse landing-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MiniNudge</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-right user-login" id="user_login">
          <div class="form-group">
            <input type="text" class="form-control" name="loginEmail" placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="loginPassword" placeholder="password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
      </div>
    </div>
  </nav>
</template>
