<template name="assignTasks">
  <div role="tabpanel" class="tab-pane" id="assign_tasks">
    <div class="row">
      <div class="col-md-7">
        <h1>Assign Tasks</h1>
        {{#if noAssignableTasks}}
          <h4>Currently there are no assignable tasks.</h4>
        {{/if}}
      </div>
      <div class="col-md-5">
        <h2>Assignable Users</h2>
      </div>
    </div>
    {{# if assignorBool }}
      <div class="cards-holder">
        <div class="col-md-7">
          {{#each assignableTasks}}
            {{> assignableTask}}
          {{/each}}
        </div>
        <div class="col-md-5 users-holder">

          {{#each assignableUsers}}
            {{> assignableUser}}
          {{/each}}
        </div>
      </div>
    {{else}}
      <h2>You do not have assignor privileges</h2>  
    {{/if}}
  </div>
</template>
